h1 {
    color: red;
}

ul {
    background: red;
    border: 1px solid black;
}

li {
    display: inline;
    background: yellow;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
}

a {
    text-decoration: none;
}

input {
    margin-bottom: 12px;
}