<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{>navbar}}

    <div class="form-group">
        <form action="/register" method="post">
        <br>
        <input type="text" placeholder="firstname" name="firstname" required>
        <br>
        <input type="text" placeholder="lastname" name="lastname" required><br>
        <input type="email" placeholder="email" name="email" required><br>
        <input type="text" minlength="10" maxlength="12" placeholder="phone" name="phone" required><br>
        <input type="password" placeholder="password" name="password" required><br>
        <input type="password" placeholder="confirmpassword" name="confirmpassword" required><br>
        <input type="radio" name="gender" value="male" checked> Male
        <input type="radio" name="gender" value="female"> Female
<br>
        <input type="text" placeholder="enter your age" name="age" required> <br>

        <input type="submit" value="Register">
        </form>
    </div>
</body>
</html>